{% extends 'rent/rent_base.html' %}

{% block content %}
    <h1>Verhuur home pagina!</h1>
    <p>De Rimboe is niet te huur voor weekends. Wij verhuren onze lokalen maximaal 60 dagen per jaar (tijdens de
        zomermaanden) en enkel aan georganiseerde jeugdgroepen.</p>

    <p>Het kampterrein "De Rimboe" behoort tot de plaatselijke scoutsgroep "De Bosvogels" en staat enkel tijdens de
        zomermaanden open voor alle jeugdverenigingen. Tijdens het jaar is het praktisch onmogelijk om De Rimboe te
        huren. Er mag naar hartenlust geravot worden. Toch is het belangrijk dat iedereen respect opbrengt voor de
        lokalen, het aanwezige materiaal en de omgeving. We vragen dus om het nodige respect te hebben met onze geliefde
        Rimboe.

        Het kampterrein bestaat uit 2 gebouwen: het 'Groot lokaal' en het 'Klein lokaal'. In het grote gebouw zijn 3
        slaaplokalen beschikbaar. Er is een volledig uitgeruste keuken voor maximum 60 personen met grote oven, ijskast,
        diepvrieskist, potten, pannen, borden, bestek, etc. Grotere groepen kunnen ook in het lokaal verblijven, maar
        moeten dan zelf extra gerief meebrengen. Er zijn 6 toiletten en een gemeenschappelijke douche. Het kleine gebouw
        bestaat uit 3 lokalen en een sanitair gedeelte met 3 toiletten.

        Alle bossen rond "De Rimboe" zijn eigendom van Natuurpunt en zijn enkel toegankelijk via de bospaden. Enkel de
        aangewezen bossen mag als speelbos gebruikt worden. Kampvuur is toegelaten, maar enkel op de kampvuurplaats.
        Alle kampvuurresten dienen volledig verwijderd te worden.

        Meer informatie over de lokalen vind je verder op onze site en in het document 'Verhuurreservering Rimboe'.

        Heb je interesse in huur van ons lokaal? Kijk dan eerst of het lokaal beschikbaar is. Lees daarna het het
        document 'Verhuurreservering Rimboe' door. Vul dit document in en neem dan vrijblijvend contact op met
        verhuur@bosvogels.be. Voeg het ingevulde document 'Verhuurreservering Rimboe' toe als bijlage.
        Bij goedkeuring zal de verhuurverantwoordelijke de gewenste periode op de kalender aanduiden als bezet. Pas
        wanneer dit gebeurd is, is de reservatie rond. Controleer daarom goed dat je afgesproken huurperiode is
        aangeduid op de beschikbaarheid!!! Verwittig de verhuurverantwoordelijke indien nodig.</p>

    <iframe src="https://www.google.com/maps/d/embed?mid=12-yXKMTjn0QiTp7gEYEqyZyl4xs" width="640"
            height="480"></iframe>

{% endblock content %}