{% extends 'rent/rent_base.html' %}

{% block content %}
    <h1>Tarieven</h1>
    <p>
        Dit zijn de tarieven die momenteel gebruikt worden. Let wel, deze zijn ter illustratie.
        In het verhuurcontract staan de werkelijke prijzen, maar deze zullen hier amper of niet van verschillen.
    </p>

    <ul>
        <li>€ {{ price.perPersonPerDay }} per persoon, per dag met een minimum van € {{ price.dailyMinimum }} per dag
        </li>
        <li>€ {{ price.electricitykWh }} per kWh verbruikte elektriciteit (oven, microgolfoven, koelkast, vriezer,
            verlichting, ...)
        </li>
        <li>€ {{ price.waterSqM }} per m³ water (douches, wc's, gootsteen, ...)</li>
        <li>€ {{ price.gasPerDay }} per dag voor gas (verwarming, douches, kookvuur, ...)</li>
        <li>€ {{ price.deposit }} waarborg</li>
    </ul>
{% endblock content %}