{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>De Bosvogels{{ title_suffix }}</title>
    <link rel="shortcut icon" href="{%  static 'home/img/favicon.png' %}">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>{# todo remove #}
</head>
<body>

{% if debug %}
    <h3 style="color:orange;background-color: white">Warning: Django debug is True. This message should never be seen in Production!</h3>
{% endif %}

{# Navbar style navigation trough the website #}
{% block navbar %}
    <ul>
        <li><a href="{% url 'home:index' %}">Home/Landing</a></li>
        <li><a href="{% url 'agenda:index' %}">Agenda</a></li>
        <li><a href="{% url 'leiding:index' %}">Leiding</a></li>
        <li><a href="{% url 'takken:index' %}">Takken</a></li>
        <li><a href="{% url 'rent:index' %}">Verhuur</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li> {# todo remove #}
    </ul>
{% endblock navbar %}

{# Block for links to the sub pages#}
{% block links %}{% endblock links %}

{# Messages #}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}"><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}

{#  Main content for the page #}
{% block content %}{% endblock content %}

{# Custom JS scripts #}
{% block javascript %}{% endblock javascript %}

</body>
</html>