{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>De Bosvogels{{ title_suffix }}</title>
    <link rel="shortcut icon" href="{%  static 'home/img/favicon.png' %}">
</head>
<body>

{# Navbar style navigation trough the website #}
{% block navbar %}
    <ul>
        <li><a href="{% url 'home:index' %}">Home/Landing</a></li>
        <li><a href="{% url 'agenda:index' %}">Agenda</a></li>
        <li><a href="{% url 'rent:index' %}">Verhuur</a></li>
    </ul>
{% endblock navbar %}

{# Block for links to the sub pages#}
{% block links %}{% endblock links %}

{#  Main content for the page #}
{% block content %}{% endblock content %}

{# Custom JS scripts #}
{% block javascript %}{% endblock javascript %}

</body>
</html>