{% extends 'home/base.html' %}

{% block links %}
    <h2>Takken links:</h2>
    <ul>
        <li><a href="{% url 'takken:tak' 'kapoenen' %}">Kapoenen</a></li>
        <li><a href="{% url 'takken:tak' 'kabouters' %}">Kabouters</a></li>
        <li><a href="{% url 'takken:tak' 'welpen' %}">Welpen</a></li>
        <li><a href="{% url 'takken:tak' 'jonggidsen' %}">Jonggidsen</a></li>
        <li><a href="{% url 'takken:tak' 'jongverkenners' %}">Jongverkenners</a></li>
        <li><a href="{% url 'takken:tak' 'gidsen' %}">Gidsen</a></li>
        <li><a href="{% url 'takken:tak' 'verkenners' %}">Verkenners</a></li>
        <li><a href="{% url 'takken:tak' 'jins' %}">Jins</a></li>
        <li><a href="{% url 'takken:tak' 'leiding' %}">Leiding</a></li>
        <li><a href="{% url 'takken:tak' 'groepsleiding' %}">Groepsleiding</a></li>
        <li><a href="{% url 'takken:afterleader' %}">Wat na leiding?</a></li>
    </ul>
{% endblock links %}

{% block content %}

{% endblock content %}