{% extends 'takken/takken_base.html' %}
{% load static %}

{% block content %}
    <h1>Pagina van de {{ tak|lower }}!</h1>

    <h2>Leeftijd ({{ age }} jaar)</h2>
    <h2>Tekstje</h2>
    <p>{{ description }}</p>
    <h2>Leiding</h2>
    {% if takmail %}<a href="mailto:{{ takmail }}">Mail naar {{ takmail }}</a>{% endif %}
    {% for membership in memberships %}
        <p>
            {% if membership.tak_leader_name %}
                {{ membership.tak_leader_name }}
            {% else %}
                {{ membership.profile }}
            {% endif %}
            {% if membership.profile.public_email %}
                <a href="mailto:{{ membership.profile.public_email }}">Mail
                    naar {{ membership.profile.public_email }}</a>
            {% endif %}
        </p>
    {% endfor %}
    {% if tak != "Groepsleiding" %}
        <h2>Vergaderingen</h2>
        <p>
            <a href="{% url 'takken:tak_all_vergaderingen' tak|lower %}">Bekijk de afgelopen vergaderingen.</a>
        </p>
        {% for vergadering in vergaderingen %}
            <p>
                <b>
                    {% if vergadering.name %}
                        {{ vergadering.name }}
                    {% else %}
                        Vergadering
                    {% endif %}
                </b>
                <br>
                {% if vergadering.place %}
                    {{ vergadering.place }} <br>
                {% endif %}
                {{ vergadering.startDate | date:"l" | capfirst }} {{ vergadering.startDate }}{% if vergadering.endDate %} - {{ vergadering.endDate | date:"l" }} {{ vergadering.endDate }}{% endif %}
                <br>

                {% if vergadering.startTime %}{{ vergadering.startTime }}{% endif %}{% if vergadering.endTime %}- {{ vergadering.endTime }} <br>{% endif %}

                {% if vergadering.description %}
                    {{ vergadering.description }} <br>
                {% endif %}
            </p>
        {% empty %}
            <p>Momenteel nog geen vergaderingen gepland!</p>
        {% endfor %}
    {% endif %}
    <img src="{% static taklogo %}" alt="Takteken {{ tak }}">
{% endblock content %}